<!-- app/views/interview/review.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4">過去の質問と回答</h1>
  <p class="mb-4">過去の面接シミュレーションを見返すことができます。回答の編集、削除が可能です。</p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">カテゴリ</th>
          <th scope="col">質問</th>
          <th scope="col">回答</th>
          <th scope="col">操作</th>
          <th scope="col">更新日</th>
        </tr>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
          <tr>
            <td><%= response.category %></td>
            <td><%= response.question %></td>
            <td><%= response.answer %></td>
            <td>
              <%= link_to '編集', edit_question_response_path(response), class: 'btn btn-primary btn-sm' %>
              <%= link_to '削除', question_response_path(response),data: { turbo_method: :delete, turbo_confirm: 'この項目を削除してよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
            </td>
            <td><%= response.updated_at.strftime("%Y/%m/%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
